:root {
  --clr-bg-main: hsl(222, 26%, 31%);     /* real background */
  --clr-bg-toggle: hsl(223, 31%, 20%);   /* toggle background */
  --clr-bg-screen: hsl(224, 36%, 15%);   /* result background */
  
  --font-button-color: hsl(221, 14%, 31%);
  --font-result-color: #fff;

  --font-family: 'Spartan', sans-serif;

  --clr-key: hsl(30, 25%, 89%);
  --clr-key-shadow: hsl(28, 16%, 65%);

  --clr-key-secondary: hsl(225, 21%, 49%);
  --clr-key-secondary-shadow: hsl(224, 28%, 35%);

  --clr-key-strong: hsl(6, 63%, 50%);
  --clr-key-strong-shadow: hsl(6, 70%, 34%);
  --clr-key-strong-font: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

body {
  background: var(--clr-bg-main);
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: 700;
  height: 100vh;
}

.outer-container {
  max-width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

@media (max-width: 550px) {
  .outer-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.head {
  display: flex;
  color: var(--font-result-color);
}
.head h1{
  flex-grow: 1;
}

.theme {
  position: relative;
  bottom: 16px;
}

.theme > span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.theme_box {
  background: var(--clr-bg-toggle);
  border-radius: 100px;
  height: 50%;
  padding: 5px;
  position: relative;
  left: 0;
  cursor: pointer;
  margin-top: 5px;
}
.theme_indicator {
  background: var(--clr-key-strong);
  height: 100%;
  display: inline-block;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  position: relative;
  left: 0%;
  transition: 0.2s;
}


.result {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background: var(--clr-bg-screen);
  margin-bottom: 1rem;
  color: var(--font-result-color);
  text-align: right;
}



.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  background: var(--clr-bg-toggle);
  border-radius: 10px;
}

.item {
  background: var(--clr-key);
  box-shadow: 0px 5px var(--clr-key-shadow);
  font-size: 32px;
  text-align: center;
  padding: 12px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: var(--font-button-color);
  position: relative;
  top: 0;
  transition: box-shadow 0ms, top 50ms;
}

.item:active {
  background: var(--clr-key-shadow);
  top: 5px;
  box-shadow: none;
}

.secondary, .b-equals {
  color: var(--font-result-color);
  text-transform: uppercase;
}

.secondary {
  background-color: var(--clr-key-secondary);
  box-shadow: 0px 5px var(--clr-key-secondary-shadow);
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.secondary:active {
  background: var(--clr-key-secondary-shadow);
}

.b-equals {
  background-color: var(--clr-key-strong);
  box-shadow: 0px 5px var(--clr-key-strong-shadow);
  color: var(--clr-key-strong-font);
}

.b-equals:active {
  background: var(--clr-key-strong-shadow);
}



/* BUTTONS */

.b-del, .b-minus,
.b-times, .b-plus {
  grid-column: 4;
}

.b-del {
  grid-row: 1;
}
.b-plus {
  grid-row: 2;
}
.b-minus {
  grid-row: 3;
}
.b-times, .b-division, .b-float {
  grid-row: 4;
}

.b-reset {
  grid-column: 1 / span 2;
}
.b-equals {
  grid-column: 3 / span 2;
}

.n-7, .n-4, .n-1, .b-float {
  grid-column: 1;
}

.n-8, .n-5, .n-3, .n-0 {
  grid-column: 2;
}

.n-9, .n-6, .n-3, .b-division {
  grid-column: 3;
}